
<app-menu></app-menu>

<!-- BEGIN: Content -->

<div class="content">
<br>
<br>
<br>
<div class="intro-y flex items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
Perfil

</h2>
</div>

    <div class="intro-y box px-5 pt-5 mt-5">
      
        <div class="flex flex-col lg:flex-row border-b border-gray-200 dark:border-dark-5 pb-5 -mx-5">
            <div class="flex flex-1 px-5 items-center justify-center lg:justify-start">
                <!--<div class="w-20 h-20 sm:w-24 sm:h-24 flex-none lg:w-32 lg:h-32 image-fit relative">
                    
                </div>-->
                <div class="ml-5">
                  <div class="w-24 sm:w-40 truncate sm:whitespace-normal font-medium text-lg">{{alumno.nombre}} {{alumno.paterno}} {{alumno.materno}}</div>
                    <!--<div class="text-gray-600">Administrador</div>-->
                </div>
            </div>
            <div class="flex mt-6 lg:mt-0 items-center lg:items-start flex-1 flex-col justify-center text-gray-600 dark:text-gray-300 px-5 border-l border-r border-gray-200 dark:border-dark-5 border-t lg:border-t-0 pt-5 lg:pt-0">
              <div class="font-medium text-center lg:text-left lg:mt-5">Correo institucional</div>
              <div class="truncate sm:whitespace-normal flex items-center"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail w-4 h-4 mr-2"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg> {{alumno.correoInstitucional}} </div>
            </div>
            <div class="mt-6 lg:mt-0 flex-1 px-5 border-t lg:border-0 border-gray-200 dark:border-dark-5 pt-5 lg:pt-0">
                <div class="font-medium text-center lg:text-left lg:mt-5">Universidad</div>
                <div class="flex items-center justify-center lg:justify-start mt-2">
                    <div class="mr-2 w-20 flex">{{alumno.universidad}}</div>
                </div>
            </div>
        </div>

        <div class="flex flex-col lg:flex-row border-b border-gray-200 dark:border-dark-5 pb-5 -mx-5">
          <div class="flex flex-1 px-5 items-center justify-center lg:justify-start">
            <div class="ml-5">
              <div class="font-medium text-center lg:text-left lg:mt-5">Facultad</div>
              <div class="w-24 sm:w-40 truncate sm:whitespace-normal font-medium text-lg">{{alumno.facultad}}</div>
            </div>
          </div>
          <div class="flex mt-6 lg:mt-0 items-center lg:items-start flex-1 flex-col justify-center text-gray-600 dark:text-gray-300 px-5 border-l border-r border-gray-200 dark:border-dark-5 border-t lg:border-t-0 pt-5 lg:pt-0">
            <div class="font-medium text-center lg:text-left lg:mt-5">Correo personal</div>
            <div class="truncate sm:whitespace-normal flex items-center"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail w-4 h-4 mr-2"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg> {{alumno.correoPersonal}} </div>
          </div>
          <div class="mt-6 lg:mt-0 flex-1 px-5 border-t lg:border-0 border-gray-200 dark:border-dark-5 pt-5 lg:pt-0">
            <div class="font-medium text-center lg:text-left lg:mt-5">Carrera</div>
            <div class="flex items-center justify-center lg:justify-start mt-2">
              <div class="mr-2 w-20 flex">{{alumno.carrera}}</div>
            </div>
          </div>
        </div>

      <div class="flex flex-col lg:flex-row border-b border-gray-200 dark:border-dark-5 pb-5 -mx-5">
          <div class="flex flex-1 px-5 items-center justify-center lg:justify-start">
            <div class="ml-5">
              <div class="font-medium text-center lg:text-left lg:mt-5">Fecha de nacimiento</div>
              <div class="w-24 sm:w-40 truncate sm:whitespace-normal font-medium text-lg">{{alumno.fechaNacimiento}}</div>
            </div>
          </div>
          <div class="flex mt-6 lg:mt-0 items-center lg:items-start flex-1 flex-col justify-center text-gray-600 dark:text-gray-300 px-5 border-l border-r border-gray-200 dark:border-dark-5 border-t lg:border-t-0 pt-5 lg:pt-0">
            <div class="font-medium text-center lg:text-left lg:mt-5">Generacion</div>
            <div class="truncate sm:whitespace-normal flex items-center"> {{alumno.generacion}} </div>
          </div>
          <div class="mt-6 lg:mt-0 flex-1 px-5 border-t lg:border-0 border-gray-200 dark:border-dark-5 pt-5 lg:pt-0">
            <div class="font-medium text-center lg:text-left lg:mt-5">Matrìcula</div>
            <div class="flex items-center justify-center lg:justify-start mt-2">
              <div class="mr-2 w-20 flex">{{alumno.matricula}}</div>
            </div>
          </div>
        </div>

    </div>
    </div>
