
<app-menu></app-menu>

<!-- BEGIN: Content -->

<div class="container" style="font-family:Helvetica;">
  <br>
  <br>
  <br>
  <!--<div class="intro-y flex items-center mt-8">
    <h2 class="text-lg font-medium mr-auto " style="text-align:justify; font-size:19px; color:#FF8800; font-weight: bold;">
      Perfil
    </h2>
  </div>-->

  <div class="flex justify-center text-center items-center  text-center" style="background: #FF8300; border-radius: 15px;font-weight: bold; width: 180px; margin: auto;">
    <a [routerLink]="['/informacionalumno']" style=" border-radius: 15px; font-size: 17px; font-weight:bold" class="m-1  btn-lg text-white  w-35 ">Editar</a>
  </div>

  <div class="intro-y  ">
    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5 sm:grid grid-cols-2 gap-2">
      <div class="" style="font-size:25px;  font-weight: bold; ">
        Información Personal
      </div>


    </div>
    <div class="" id="horizontal-form">
      <div class="preview">


        <div class="container">
          <div class="sm:grid grid-cols-3 gap-2 ml-8 mr-8">

            <div class="relative mt-8">
              <div class="font-medium text-center lg:text-left lg:mt-5 " style="text-align:justify; font-size:19px; color:#FF8800; font-weight: bold;">Nombre</div>
              <div style=" text-align:justify; font-size:15px; ">{{alumno.nombre}}</div>
            </div>

            <div class="relative mt-8">
              <div>
                <div class="font-medium text-center lg:text-left lg:mt-5 " style="text-align:justify; font-size:19px; color:#FF8800; font-weight: bold;">Apellido Paterno</div>
                <div style=" text-align:justify; font-size:15px; ">{{alumno.paterno}} </div>
              </div>
            </div>

            <div class="relative mt-8">
              <div>
                <div class="font-medium text-center lg:text-left lg:mt-5 " style="text-align:justify; font-size:19px; color:#FF8800; font-weight: bold;">Apellido Materno</div>
                <div style=" text-align:justify; font-size:15px; ">{{alumno.materno}} </div>
              </div>
            </div>

            <div class="relative mt-4">
              <div>
                <div class="font-medium text-center lg:text-left lg:mt-5 " style="text-align:justify; font-size:19px; color:#FF8800; font-weight: bold;">ID Matrícula</div>
                <div style=" text-align:justify; font-size:15px; ">{{alumno.matricula}} </div>
              </div>
            </div>

            <div class="relative mt-4">
              <div>
                <div class="font-medium text-center lg:text-left lg:mt-5 " style="text-align:justify; font-size:19px; color:#FF8800; font-weight: bold;">Universidad</div>
                <div style=" text-align:justify; font-size:15px; ">{{alumno.universidad}}</div>
              </div>
            </div>

            <div class="relative mt-4">
              <div>
                <div class="font-medium text-center lg:text-left lg:mt-5 " style="text-align:justify; font-size:19px; color:#FF8800; font-weight: bold;">Facultad</div>
                <div style=" text-align:justify; font-size:15px; ">{{alumno.facultad}}</div>
              </div>
            </div>

            <div class="relative mt-4">
              <div>
                <div class="font-medium text-center lg:text-left lg:mt-5 " style="text-align:justify; font-size:19px; color:#FF8800; font-weight: bold;">Carrera</div>
                <div style=" text-align:justify; font-size:15px; ">{{alumno.carrera}}</div>
              </div>
            </div>

            <div class="relative mt-4">
              <div>
                <div class="font-medium text-center lg:text-left lg:mt-5 " style="text-align:justify; font-size:19px; color:#FF8800; font-weight: bold;">Porcentaje Academico</div>
                <div style=" text-align:justify; font-size:15px; ">{{alumno.porcentaje}}%</div>
              </div>
            </div>

            <div class="relative mt-4">
              <div>
                <div class="font-medium text-center lg:text-left lg:mt-5 " style="text-align:justify; font-size:19px; color:#FF8800; font-weight: bold;">
                  Número de Semestre/Cuatrimestre
                </div>
                <div style=" text-align:justify; font-size:15px; ">{{alumno.noCuatrimestreSemestre}}</div>
              </div>
            </div>

            <div class="relative mt-4">
              <div>
                <div class="font-medium text-center lg:text-left lg:mt-5 " style="text-align:justify; font-size:19px; color:#FF8800; font-weight: bold;">
                  ¿Tu carrera es semestral o cuatrimestral?
                </div>
                <div style=" text-align:justify; font-size:15px; ">{{alumno.esquemaPeriodo}}</div>
              </div>
            </div>

            <div class="relative mt-4">
              <div>
                <div class="font-medium text-center lg:text-left lg:mt-5 " style="text-align:justify; font-size:19px; color:#FF8800; font-weight: bold;">
                  Generación*
                </div>
                <div style=" text-align:justify; font-size:15px; ">{{alumno.generacion}}</div>
              </div>
            </div>

            <div class="relative mt-4">
              <div>
                <div class="font-medium text-center lg:text-left lg:mt-5 " style="text-align:justify; font-size:19px; color:#FF8800; font-weight: bold;">
                  Fecha estimada de graduación
                </div>
                <div style=" text-align:justify; font-size:15px; ">{{alumno.fechaEstimadaGraduacion}}</div>
              </div>
            </div>

            <div class="relative mt-4">
              <div>
                <div class="font-medium text-center lg:text-left lg:mt-5 " style="text-align:justify; font-size:19px; color:#FF8800; font-weight: bold;">
                  Correo Institucional
                </div>
                <div style=" text-align:justify; font-size:15px; ">{{alumno.correoInstitucional}}</div>
              </div>
            </div>
            <div class="relative mt-4">
              <div>
                <div class="font-medium text-center lg:text-left lg:mt-5 " style="text-align:justify; font-size:19px; color:#FF8800; font-weight: bold;">
                  Correo Personal
                </div>
                <div style=" text-align:justify; font-size:15px; ">{{alumno.correoPersonal}}</div>
              </div>
            </div>

            <div class="relative mt-4">
              <div>
                <div class="font-medium text-center lg:text-left lg:mt-5 " style="text-align:justify; font-size:19px; color:#FF8800; font-weight: bold;">
                  Teléfono de Contacto
                </div>
                <div style=" text-align:justify; font-size:15px; ">{{alumno.celular}}</div>
              </div>
            </div>
            <div class="relative mt-4">
              <div>
                <div class="font-medium text-center lg:text-left lg:mt-5 " style="text-align:justify; font-size:19px; color:#FF8800; font-weight: bold;">
                  Fecha de Nacimiento
                </div>
                <div style=" text-align:justify; font-size:15px; "> {{alumno.fechaNacimiento}}</div>
              </div>
            </div>

            <div class="relative mt-4">
              <div>
                <div class="font-medium text-center lg:text-left lg:mt-5 " style="text-align:justify; font-size:19px; color:#FF8800; font-weight: bold;">
                  Sexo
                </div>
                <div style=" text-align:justify; font-size:15px; ">{{alumno.sexo}}</div>
              </div>
            </div>

          </div>
        </div>
        <br>

        <div class="flex mt-8 flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5 sm:grid grid-cols-2 gap-2">
          <div class="" style="font-size:25px;  font-weight: bold; ">
            Información Complementaria
          </div>

        </div>
        <div class="container">
          <div class="sm:grid grid-cols-3 gap-2 ml-8 mr-8">
            <div class="relative mt-4">
              <div>
                <div class="font-medium text-center lg:text-left lg:mt-5 " style="text-align:justify; font-size:19px; color:#FF8800; font-weight: bold;">
                  ¿Has participado en ASUA?:
                </div>
                <div *ngIf="alumno.participacionAsua=='si'">Sí</div>
                <div *ngIf="alumno.participacionAsua=='no'">No</div>
              </div>
            </div>


            <div class="relative mt-4">
              <div>
                <div class="font-medium text-center lg:text-left lg:mt-5 " style="text-align:justify; font-size:19px; color:#FF8800; font-weight: bold;">
                  ¿Actualmente trabajas?:
                </div>
                <div *ngIf="alumno.trabajas=='si'">Sí</div>
                <div *ngIf="alumno.trabajas=='no'">No</div>
              </div>
            </div>

            <div class="relative mt-4">
              <div>
                <div class="font-medium text-center lg:text-left lg:mt-5 " style="text-align:justify; font-size:19px; color:#FF8800; font-weight: bold;">
                  ¿Bajo qué modalidad trabajas?
                </div>
                <div style=" text-align:justify; font-size:15px; ">{{alumno.modalidadTrabajo}}</div>
              </div>
            </div>
          </div>
          <div class="sm:grid grid-cols-3 gap-2">
            <div class="relative mt-8">

            </div>
            <div class="relative mt-8">
              <div class=" text-center">
                <div class="font-medium text-center  lg:mt-5 " style="text-align:justify; font-size:19px; color:#FF8800; font-weight: bold;">
                  ¿A partir de qué semestre / cuatrimestre comenzaste a trabajar?
                </div>
                <div *ngIf="alumno.cuatrimestreComienzoTrabajo!=null && alumno.cuatrimestreComienzoTrabajo!='0'" style=" text-align:justify; font-size:15px; ">{{alumno.cuatrimestreComienzoTrabajo}}</div>
                <div *ngIf="alumno.cuatrimestreComienzoTrabajo==null || alumno.cuatrimestreComienzoTrabajo=='0'" style=" text-align:justify; font-size:15px; ">No aplica</div>
              </div>
            </div>
            <div class="relative mt-8">

            </div>
          </div>
          <div class="sm:grid grid-cols-2 gap-2  ml-8 mr-8">


            <div class="relative mt-8">
              <div>
                <label class="font-medium text-center lg:text-left lg:mt-5 " style="text-align:justify; font-size:19px; color:#FF8800; font-weight: bold;">
                  Indica en cuál(es) área(s) de Vida Universitaria has participado
                </label>
              </div>
              <div *ngFor="let areasParticipado of alumno.listaAreaVidaUniversitariaParticipado" class="text-base text-gray-600 mt-1">
                <div class="flex items-center">
                  <div class="w-3 h-2 bg-theme-9 rounded-full mr-3"></div>
                  <span style=" text-align:justify; font-size:15px; ">{{areasParticipado.areaVidaUniversitaria}}</span>
                </div>
              </div>
            </div>

            <div class="relative mt-8">
              <div>
                <label class="font-medium text-center lg:text-left lg:mt-5 " style="text-align:justify; font-size:19px; color:#FF8800; font-weight: bold;">
                  ¿Actualmente formas parte de alguna área de Vida Universitaria?
                </label>
              </div>

              <div *ngFor="let areasActuales of alumno.listaAreaVidaUniversitariaActuales" class="text-base text-gray-600 mt-1">
                <div class="flex items-center">
                  <div class="w-3 h-2 bg-theme-9 rounded-full mr-3"></div>
                  <span style=" text-align:justify; font-size:15px; ">{{areasActuales.areaVidaUniversitaria}}</span>
                </div>
              </div>
            </div>

          </div>
        </div>

        <br>

      </div>


      <div class="flex mt-8 flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5 sm:grid grid-cols-2 gap-2">
        <div class="" style="font-size:25px;  font-weight: bold; ">
          Requisitos para Liberación de Servicio Social
        </div>
        <div>
          <div (click)="mostrarmodal()">
            <i data-feather="alert-circle" class="w-8 h-8 " style="float: right;  cursor:pointer;
                    color:#FF8800"></i>
          </div>
        </div>

      </div>

      <div class="intro-y  px-5 pt-5 ">

        <div class="grid grid-cols-12 gap-6">
          <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
            <div class="">
              <div class="text-base leading-8 mt-1" align="center" style=" font-size:25px; ">
                <table>
                  <tr>
                    <td><div class="w-3 h-2 bg-theme-6 rounded-full mr-3"></div></td>
                    <td>No cubierto</td>
                    <td></td>

                    <td></td>
                    <td></td>

                    <td><div class="w-3 h-2 bg-theme-9 rounded-full mr-3"></div></td>
                    <td>Cubierto</td>
                  </tr>
                </table>
              </div>
              <div class="text-base text-gray-600 mt-2 mb-8" align="center" style=" font-size:25px; ">
                <table style=" text-align:justify; font-size:15px; ">
                  <tr><td class="p-2"><div class="w-3 h-2 bg-theme-6 rounded-full mr-3" *ngIf="alumnoRequisitos!=null && !alumnoRequisitos.pago"></div><div class="w-3 h-2 bg-theme-9 rounded-full mr-3" *ngIf="alumnoRequisitos!=null && alumnoRequisitos.pago"></div></td><td class="p-2">Pago</td></tr>
                  <tr><td class="p-2"><div class="w-3 h-2 bg-theme-6 rounded-full mr-3" *ngIf="alumnoRequisitos!=null && !alumnoRequisitos.cartaInicio"></div><div class="w-3 h-2 bg-theme-9 rounded-full mr-3" *ngIf="alumnoRequisitos!=null && alumnoRequisitos.cartaInicio"></div></td><td class="p-2">Carta de Inicio</td></tr>
                  <tr><td class="p-2"><div class="w-3 h-2 bg-theme-6 rounded-full mr-3" *ngIf="alumnoRequisitos!=null && !alumnoRequisitos.reportesMensuales"></div><div class="w-3 h-2 bg-theme-9 rounded-full mr-3" *ngIf="alumnoRequisitos!=null && alumnoRequisitos.reportesMensuales"></div></td><td class="p-2">Reportes Mensuales</td></tr>
                  <tr><td class="p-2"><div class="w-3 h-2 bg-theme-6 rounded-full mr-3" *ngIf="alumnoRequisitos!=null && !alumnoRequisitos.cartaTermino"></div><div class="w-3 h-2 bg-theme-9 rounded-full mr-3" *ngIf="alumnoRequisitos!=null && alumnoRequisitos.cartaTermino"></div></td><td class="p-2">Carta de Término</td></tr>
                  <tr><td class="p-2"><div class="w-3 h-2 bg-theme-6 rounded-full mr-3" *ngIf="alumnoRequisitos!=null && !alumnoRequisitos.evaluacionSS"></div><div class="w-3 h-2 bg-theme-9 rounded-full mr-3" *ngIf="alumnoRequisitos!=null && alumnoRequisitos.evaluacionSS"></div></td><td class="p-2">Evaluación Servicio Social</td></tr>
                  <tr><td class="p-2"><div class="w-3 h-2 bg-theme-6 rounded-full mr-3" *ngIf="alumnoRequisitos!=null && !alumnoRequisitos.horasSS"></div><div class="w-3 h-2 bg-theme-9 rounded-full mr-3" *ngIf="alumnoRequisitos!=null && alumnoRequisitos.horasSS"></div></td><td class="p-2">480 Horas de Servicio Social</td></tr>
                  <tr><td class="p-2"><div class="w-3 h-2 bg-theme-6 rounded-full mr-3" *ngIf="alumnoRequisitos!=null && !alumnoRequisitos.eventoSS"></div><div class="w-3 h-2 bg-theme-9 rounded-full mr-3" *ngIf="alumnoRequisitos!=null && alumnoRequisitos.eventoSS"></div></td><td class="p-2">Asistencia Evento Servicio Social</td></tr>
                  <tr>
                    <td class="p-2"></td>
                    <td class="p-2">
                      <div class="flex justify-center text-center items-center  text-center" style="border-radius: 15px;font-weight: bold; width: 180px; margin: auto;">
                        <!--theme-11-->
                        <div *ngIf="(alumno.liberar==null || alumno.liberar== 0) && !cubiertos" style="border-radius: 15px; font-size: 17px; font-weight:bold; background-color:#DE752D" class="m-1  btn-lg text-white  w-35 p-3">Solicitar Liberación</div>
                        <button *ngIf="(alumno.liberar==null || alumno.liberar== 0) && cubiertos" href="javascript:" (click)="solicitaLiberacion()" style="border-radius: 15px; font-size: 17px; font-weight:bold" class="m-1  btn-lg text-white  w-35 bg-theme-11 p-3">Solicitar Liberación</button>
                        <div *ngIf="alumno.liberar!=null && alumno.liberar== 1" style="border-radius: 15px; font-size: 17px; font-weight:bold" class="m-1  btn-lg text-white  w-35 bg-theme-11 p-3">Liberación solicitada</div>
                        <div *ngIf="alumno.liberar!=null && alumno.liberar== 2" style="border-radius: 15px; font-size: 17px; font-weight:bold" class="m-1  btn-lg text-white  w-35 bg-theme-9 p-3">Servicio Social Liberado</div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>


</div>

<div class="modal" id="entrevista" style=" display: block; ">
  <div class="modal__content modal__content--xl p-10 text-center">
    <a data-dismiss="modal" href="javascript:;" class="absolute right-0 top-0 mt-3 mr-3"> <i data-feather="x" class="w-8 h-8 text-gray-500"></i> </a>

    <div class="text-3xl mt-8 text-center" style="color: #FF8300; font-size: 28px;">Requisitos de liberación</div>
    <div class="mt-8 text-red text-center" style="color: #6B3F23; font-size: 25px;">¡Sigue tu estatus!</div>


    <div class="mt-8" style="font-size: 20px;">
      En esta sección podrás visualizar los requisitos que requieres para poder liberar tu servicio social.
    </div>
    <br>
    <div class="flex justify-center text-center items-center mt-8 text-center" style="background: #FF8300; border-radius: 15px;font-weight: bold; width: 180px; margin: auto;
        "> <br> <a data-dismiss="modal" style=" border-radius: 15px; font-size: 17px; cursor:pointer;" class="button  btn-lg text-white  ">Continuar</a> </div>
  </div>
</div>

<div class="modal" id="solicitaLiberacion" style=" display: block; ">
  <div class="modal__content modal__content--xl p-10 text-center">
    <a data-dismiss="modal" href="javascript:;" class="absolute right-0 top-0 mt-3 mr-3"> <i data-feather="x" class="w-8 h-8 text-gray-500"></i> </a>

    <div class="text-3xl mt-8 text-center" style="color: #FF8300; font-size: 28px;">Solicitud de liberación</div>
    <div class="mt-8 text-red text-center" style="color: #6B3F23; font-size: 25px;">¡Enviada!</div>


    <!--<div class="mt-8" style="font-size: 20px;">
      En esta sección podrás visualizar los requisitos que requieres para poder liberar tu servicio social.
    </div>-->
    <br>
    <div class="flex justify-center text-center items-center mt-8 text-center" style="background: #FF8300; border-radius: 15px;font-weight: bold; width: 180px; margin: auto;
        "> <br> <a data-dismiss="modal" style=" border-radius: 15px; font-size: 17px; cursor:pointer;" class="button  btn-lg text-white  ">Continuar</a> </div>
  </div>
</div>
