<app-menu></app-menu>


<div class="mt-16 content">
  <form (ngSubmit)="crearform()" #form="ngForm">
    
    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 xxl:col-span-12 grid grid-cols-12 gap-12">
            <!-- BEGIN: General Report -->
          <div class="col-span-12 mt-8">

            <div class="intro-y flex items-center h-10">
              <h2 class="text-lg font-medium truncate mr-5">
                Evaluación de la organización
              </h2>
              <div class="px-5 pb-8 text-center">
                <a [routerLink]="['/dashboard']" class="button text-black bg-theme-2 shadow-md mr-2">Cancelar</a>
                <button type="submit" class="button text-white bg-theme-1 shadow-md mr-2">Guardar</button>
              </div>
            </div>

            <div class="intro-y overflow-auto lg:overflow-visible mt-8">
              <div class="box p-5">

                <table class="table table-report sm:mt-2">
                  <thead>
                    <tr>
                      <th class="whitespace-no-wrap">Evaluación</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr class="intro-x" *ngFor="let pregunta of preguntasArray; let i=index">
                      <td>
                        <div class="ext-base text-xs whitespace-no-wrap">
                          <!--1.- El alumno mostro compromiso en tiempo y forma con las actividades y responsabilidades encomendadas.-->
                          {{pregunta.pregunta}}
                          <br />
                          <br />
                          <!--<input type="checkbox" (change)="onchage()" value="siempe" name="uno[1][]" checked>-->
                          <p class="clasificacion" *ngIf="pregunta.tipo=='valor'; else elseBlock">
                            <input id="radio1_{{pregunta.id}}" type="radio" name="estrellas{{pregunta.id}}" value="10">
                            <label for="radio1_{{pregunta.id}}">★</label>
                            <input id="radio2_{{pregunta.id}}" type="radio" name="estrellas{{pregunta.id}}" value="9">
                            <label for="radio2_{{pregunta.id}}">★</label>
                            <input id="radio3_{{pregunta.id}}" type="radio" name="estrellas{{pregunta.id}}" value="8">
                            <label for="radio3_{{pregunta.id}}">★</label>
                            <input id="radio4_{{pregunta.id}}" type="radio" name="estrellas{{pregunta.id}}" value="7">
                            <label for="radio4_{{pregunta.id}}">★</label>
                            <input id="radio5_{{pregunta.id}}" type="radio" name="estrellas{{pregunta.id}}" value="6">
                            <label for="radio5_{{pregunta.id}}">★</label>
                            <input id="radio6_{{pregunta.id}}" type="radio" name="estrellas{{pregunta.id}}" value="5">
                            <label for="radio6_{{pregunta.id}}">★</label>
                            <input id="radio7_{{pregunta.id}}" type="radio" name="estrellas{{pregunta.id}}" value="4">
                            <label for="radio7_{{pregunta.id}}">★</label>
                            <input id="radio8_{{pregunta.id}}" type="radio" name="estrellas{{pregunta.id}}" value="3">
                            <label for="radio8_{{pregunta.id}}">★</label>
                            <input id="radio9_{{pregunta.id}}" type="radio" name="estrellas{{pregunta.id}}" value="2">
                            <label for="radio9_{{pregunta.id}}">★</label>
                            <input id="radio10_{{pregunta.id}}" type="radio" name="estrellas{{pregunta.id}}" value="1">
                            <label for="radio10_{{pregunta.id}}">★</label>
                          </p>
                          <ng-template #elseBlock>
                            
                                <input type="text" class="input w-full border mt-2" placeholder="" requerid id="estrellas{{pregunta.id}}">

                            </ng-template>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>

            </div>

            <br>
            <br>

          </div>
        </div>

    </div>
  </form>
  </div>
