

<!-- END: Top Menu -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div class="mobile-menu md:hidden">
    <div class="mobile-menu-bar">
        <a [routerLink]="['/dashboard']" class="flex mr-auto ">
            <img src="https://adam.anahuac.mx/serviciosocial/images/logo-dark.png" width="200" height="60" alt="">
        </a>
        <a (click)="ocultar()" id="mobile-menu-toggler" style="color: #FF8800;"> <i data-feather="bar-chart-2" class="w-8 h-8  transform -rotate-90"></i> </a>
    </div>
    <ul id="menu" style="display: none;">

    
        <li class="pt-5">
            <a class="text-black p-5" style="font-size: 20px; font-family:Helvetica;">
                <a class=" pt-6 " (click)="logout()">Salir</a>
            </a>
        </li>

    </ul>
    <br>
</div>

<nav class="top-nav  shadow-lg navbar-expand-md navbar-light fixed-top bg-white " style="top:0;left: 0;  width: 100%;
position: fixed;
">
    <ul>
        <li>
            <a >

                <img src="https://adam.anahuac.mx/serviciosocial/images/logo-dark.png " class="mt-3 mb-3" width="200 " style="margin-left: 100px;" height="60 " alt=" ">
            </a>
        </li>
       
        <div class="intro-x dropdown w-8 h-8 relative ml-auto mt-3">
            <div class="dropdown-toggle image-fit zoom-in scale-110">
                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
            </div>
            <div class="dropdown-box mt-10 absolute w-64 top-0 right-0 " style="background: #FF8800;">
                <div class="dropdown-box__content box  text-white" style="background: #FF8800;">
                    <div class="p-4 border-b border-white dark:border-dark-3">
                        <div class="font-medium">{{nombre}}</div>
                    </div>
                
                    <div class="p-2 border-t border-white dark:border-dark-3">
                        <a (click)="logout()" class="flex items-center block p-2 transition duration-300 ease-in-out hover:-bgtheme-1 dark:hover:bg-dark-3 rounded-md"> <i data-feather="toggle-right" class="w-4 h-4 mr-2"></i> Salir </a>
                    </div>
                </div>
            </div>
        </div>
    </ul>
</nav>


<div class="container mt-16">

  <div class="cargador" id="carg" style="display: block;"></div>



  <div class="modal" id="success-modal-preview">
    <div class="modal__content modal__content--xl p-10 text-center">
        <a data-dismiss="modal" href="javascript:;" class="absolute right-0 top-0 mt-3 mr-3"> <i data-feather="x" class="w-8 h-8 text-gray-500"></i> </a>

        <div class="text-3xl mt-5 text-center" style="color: #FF8300; font-size: 28px;">¡Bienvenid@!</div>
        <div class="mt-6 text-red text-center" style="color: #6B3F23; font-size: 25px;">¡Gracias por tu registro! </div>


        <div class="mt-6" style="font-size: 20px;" >
          Este es tu portal desde donde podrás gestionar tus proyectos de servicio social, documentación, reportes mensuales y evaluaciones.
                </div>
        
     

        <div class=" text-center">
            <br>
            <div class="flex justify-center text-center items-center mt-6 text-center" style="background: #FF8300; border-radius: 15px;font-weight: bold; width: 180px; margin: auto;
            "> <br><a  data-dismiss="modal" style="background: #FF8300; border-radius: 15px; font-size: 17px; cursor:pointer;" class=" text-white  p-2">Continuar</a> </div>
        </div>
    </div>
</div>




  <div class="modal" id="validacion">

    <div class="modal__content modal__content--xl p-10 text-center">
        <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
        <a data-dismiss="modal" href="javascript:;" class="absolute right-0 top-0 mt-3 mr-3"> <i data-feather="x" class="w-8 h-8 text-gray-500"></i> </a>

        <div class="text-3xl mt-5 text-center" style="color: #FF8300; font-size: 28px;">Advertencia!</div>
        <div class=" mt-2 text-red text-center" style="color: #6B3F23; font-size: 25px;">{{mensajevalidacion}}</div>




        <div class=" text-center">
            <br>
            <div class="flex justify-center text-center items-center mt-3 text-center" style="background: #FF8300; border-radius: 15px;font-weight: bold; width: 180px; margin: auto;
            "> <br><a  data-dismiss="modal" style=" border-radius: 15px; font-size: 17px;" class="button text-white  p-2">Continuar</a> </div>
        </div>
    </div>


</div>

  <form #formAlumno="ngForm" (ngSubmit)="onSubmit(formAlumno)">
    <!-- <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
      <h2 class="text-lg font-medium mr-auto">
        Completar informacion
      </h2>
 
    </div> -->



    <div class="intro-ymt-5">
      <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5" style="font-size:25px;  font-weight: bold; ">
        <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; ">
          Información Personal (antes de continuar necesitas completar tu informacion)
        </h2>
      </div>
      <div class="container" id="horizontal-form">
        <div class="preview">

          <div class="flex flex-col sm:flex-row items-center mt-3" style="display: none">
            <label class="sm:w-32 sm:text-right sm:mr-5">Activo:</label>
            <input type="radio" ng-value="true" name="activo" [(ngModel)]="activo" [checked]="true" />
          </div>

          <div class="mt-3">
            <div class="sm:grid grid-cols-3 gap-2">

              <div class="relative mt-8">
                <div>
                  <label style="font-size:19px; color:#FF8800; font-weight: bold;">Nombre*</label>
                  <input type="text" class="input  w-full border mt-2 " name="nombre" id="nombre" [(ngModel)]="alumno.nombre" [ngModelOptions]="{standalone: true}" placeholder="">
                </div>

              </div>

              <div class="relative mt-8">
                <div>
                  <label style="font-size:19px; color:#FF8800; font-weight: bold;">Apellido Paterno*</label>
                  <input type="text" class="input  w-full border mt-2 " name="paterno" id="paterno" [(ngModel)]="alumno.paterno" [ngModelOptions]="{standalone: true}" placeholder="">
                </div>
              </div>

              <div class="relative mt-8">
                <div>
                  <label style="font-size:19px; color:#FF8800; font-weight: bold;">Apellido Materno*</label>
                  <input type="text" class="input  w-full border mt-2 " name="materno" id="materno" [(ngModel)]="alumno.materno" [ngModelOptions]="{standalone: true}" placeholder="">
                </div>
              </div>

              <div class="relative mt-8">
                <div>
                  <label style="font-size:19px; color:#FF8800; font-weight: bold;">ID Matrícula*</label>
                  <input type="text" class="input  w-full border mt-2 " name="matricula" id="matricula" [(ngModel)]="alumno.matricula" [ngModelOptions]="{standalone: true}" placeholder="" [disabled]="true">
                </div>
              </div>

              <div class="relative mt-8">
                <div>
                  <label style="font-size:19px; color:#FF8800; font-weight: bold;">Universidad*</label>
                  <select class="input  w-full border mt-2 " name="idUniversidad" id="idUniversidad" [(ngModel)]="alumno.idUniversidad" [ngModelOptions]="{standalone: true}" [disabled]="uniReadOnly">
                    <option *ngFor="let universidad of universidades" [ngValue]="universidad.id">{{ universidad.universidad }}</option>
                  </select>
                </div>
              </div>

              <div class="relative mt-8">
                <div>
                  <label style="font-size:19px; color:#FF8800; font-weight: bold;">Facultad*</label>
                  <select class="input  w-full border mt-2 " name="idFacultad" id="idFacultad" [(ngModel)]="alumno.idFacultad" [ngModelOptions]="{standalone: true}" [disabled]="facReadOnly">
                    <option *ngFor="let facultad of facultades" [ngValue]="facultad.id">{{ facultad.facultad }}</option>
                  </select>
                </div>
              </div>

              <div class="relative mt-8">
                <div>
                  <label style="font-size:19px; color:#FF8800; font-weight: bold;">Carrera*</label>
                  <select class="input  w-full border mt-2 " name="idCarrera" id="idCarrera" [(ngModel)]="alumno.idCarrera" [ngModelOptions]="{standalone: true}" [disabled]="carReadOnly">
                    <option *ngFor="let carrera of carreras" [ngValue]="carrera.id">{{ carrera.carrera }}</option>
                  </select>
                </div>
              </div>

              <div class="relative mt-8">
                <div>
                  <label style="font-size:19px; color:#FF8800; font-weight: bold;">Porcentaje Academico*</label>
                  <input type="number" class="input  w-full border mt-2 " name="porcentaje" id="porcentaje" [(ngModel)]="alumno.porcentaje" [ngModelOptions]="{standalone: true}" placeholder="" [disabled]="true">
                </div>
              </div>
              <!--
              <div class="relative mt-8">
                <div>
                  <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                    Avance en créditos de la carrera*
                  </label>
                  <input type="number" class="input  w-full border mt-2 " name="avanceCreditos" [(ngModel)]="alumno.avanceCreditos" [ngModelOptions]="{standalone: true}" placeholder="">
                </div>
              </div>
                -->
              <div class="relative mt-8">
                <div>
                  <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                    Número de Semestre / Cuatrimestre*
                  </label>
                  <input type="number" class="input  w-full border mt-2 " id="noCuatrimestreSemestre" name="noCuatrimestreSemestre" [(ngModel)]="alumno.noCuatrimestreSemestre" [ngModelOptions]="{standalone: true}" max="14" min="0">
                </div>
              </div>

              <div class="relative mt-8">
                <div>
                  <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                    ¿Tu carrera es semestral o cuatrimestral?*
                  </label>
                  <select class="input  w-full border mt-2 " id="esquemaPeriodo" name="esquemaPeriodo" [(ngModel)]="alumno.esquemaPeriodo" [ngModelOptions]="{standalone: true}">
                    <option [ngValue]="'semestral'">Semestral</option>
                    <option [ngValue]="'cuatrimestral'">Cuatrimestral</option>
                  </select>
                </div>
              </div>

              <div class="relative mt-8">
                <div>
                  <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                    Generación*
                  </label>
                  <select class="input w-full border mt-2 " id="generacion" name="generacion" [(ngModel)]="alumno.generacion" [ngModelOptions]="{standalone: true}" placeholder="¿en que año iniciaste la carrera?">
                    <option *ngFor="let generacionOPC of generaciones" [ngValue]="generacionOPC">{{ generacionOPC }}</option>
                  </select>
                </div>
              </div>

              <div class="relative mt-8">
                <div>
                  <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                    Fecha estimada de graduación*
                  </label>
                  <div class="sm:grid grid-cols-2 gap-2">
                    <div class="relative mt-2">

                       <input matInput [matDatepicker]="picker" placeholder="02/01/2021" class="input  w-full border mt-2 " id="fechaEstimadaGraduacion" name="fechaEstimadaGraduacion" [(ngModel)]="alumno.fechaEstimadaGraduacion" [ngModelOptions]="{standalone: true}" [readonly]="true">
                         <mat-datepicker #picker></mat-datepicker>
                    </div>

                       <div class="relative mt-3">
                        <div class="flex justify-center text-center items-center mt-3 text-center" style="background: #FF8300; border-radius: 15px;font-weight: bold; width: 180px; margin: auto;
                        "> <a (click)="picker.open()" style=" border-radius: 10px; font-size: 15px;" class="button text-white  p-2">Ver Calendar</a> </div>


                    </div>

                   </div>

                </div>
              </div>

              <div class="relative mt-8">
                <div>
                  <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                    Correo Institucional*
                  </label>
                  <input type="email" class="input  w-full border mt-2 " id="correoInstitucional" name="correoInstitucional" [(ngModel)]="alumno.correoInstitucional" [ngModelOptions]="{standalone: true}" placeholder="" [disabled]="true">
                </div>
              </div>
              <div class="relative mt-8">
                <div>
                  <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                    Correo Personal*
                  </label>
                  <input type="email" class="input  w-full border mt-2 " id="correoPersonal" name="correoPersonal" [(ngModel)]="alumno.correoPersonal" [ngModelOptions]="{standalone: true}" placeholder="">
                </div>
              </div>
              <!--
              <div class="relative mt-8">
                <div>
                  <div>
                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Contraseña*</label>
                    <input type="password" class="input  w-full border mt-2 " placeholder="" name="password" [(ngModel)]="alumno.password" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              </div>-->

              <div class="relative mt-8">
                <div>
                  <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                    Teléfono de Contacto*
                  </label>
                  <input type="tel" class="input  w-full border mt-2 " name="celular" id="celular" [(ngModel)]="alumno.celular" [ngModelOptions]="{standalone: true}" placeholder="">
                </div>
              </div>
              <div class="relative mt-8">
                <div>
                  <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                    Fecha de Nacimiento*
                  </label>
                  <div class="sm:grid grid-cols-2 gap-2">
                    <div class="relative mt-2">

                       <input matInput class="input  w-full border mt-2 "  [matDatepicker]="picker2" placeholder="02/01/2000" id="fechaNacimiento" name="fechaNacimiento" [(ngModel)]="alumno.fechaNacimiento" [ngModelOptions]="{standalone: true}" [readonly]="true">
                         <mat-datepicker #picker2></mat-datepicker>
                    </div>

                       <div class="relative mt-3">
                        <div class="flex justify-center text-center items-center mt-3 text-center" style="background: #FF8300; border-radius: 15px;font-weight: bold; width: 180px; margin: auto;
                        "> <a (click)="picker2.open()" style=" border-radius: 10px; font-size: 15px;" class="button text-white  p-2">Ver Calendar</a> </div>


                    </div>

                   </div>
              
                </div>
              </div>

              <div class="relative mt-8">
                <div>
                  <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                    Sexo*
                  </label>
                  <select class="input  w-full border mt-2 " id="sexo" name="sexo" [(ngModel)]="alumno.sexo" [ngModelOptions]="{standalone: true}">
                    <option [ngValue]="'Hombre'">Hombre</option>
                    <option [ngValue]="'Mujer'">Mujer</option>
                  </select>
                </div>
              </div>

            </div>
          </div>
          <br>

          <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
            <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; ">
              Información Complementaria
            </h2>
          </div>


          <div class="mt-3">
            <div class="sm:grid grid-cols-2 gap-2">
              <div class="relative mt-8">
                <div>
                  <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                    ¿Has participado en ASUA?*
                  </label>
                  <select class="input  w-full border mt-2 " id="participacionAsua" name="participacionAsua" [(ngModel)]="alumno.participacionAsua" [ngModelOptions]="{standalone: true}">
                    <option [ngValue]="'si'">Sí</option>
                    <option [ngValue]="'no'">No</option>
                  </select>
                </div>
              </div>


              <div class="relative mt-8">
                <div>
                  <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                    ¿Actualmente trabajas?*
                  </label>
                  <select class="input  w-full border mt-2 " id="trabajas" name="trabajas" [(ngModel)]="alumno.trabajas" [ngModelOptions]="{standalone: true}">
                    <option [ngValue]="'si'">Sí</option>
                    <option [ngValue]="'no'">No</option>
                  </select>
                </div>
              </div>

              <div class="relative mt-8">
                <div>
                  <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                    ¿Bajo qué modalidad trabajas?*
                  </label>
                  <select class="input  w-full border mt-2" id="idModalidadTrabajo" name="idModalidadTrabajo" [(ngModel)]="alumno.idModalidadTrabajo" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let modalidad of listaModalidadesTrabajo" [ngValue]="modalidad.id">{{ modalidad.modalidad }}</option>
                  </select>
                </div>
              </div>

              <div class="relative mt-8">
                <div>
                  <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                    ¿A partir de qué semestre / cuatrimestre comenzaste a trabajar?
                  </label>
                  <select class="input  w-full border mt-2 " name="cuatrimestreComienzoTrabajo" id="cuatrimestreComienzoTrabajo" [(ngModel)]="alumno.cuatrimestreComienzoTrabajo" [ngModelOptions]="{standalone: true}">
                    <option [ngValue]="0">No aplica</option>
                    <option [ngValue]="1">1</option>
                    <option [ngValue]="2">2</option>
                    <option [ngValue]="3">3</option>
                    <option [ngValue]="4">4</option>
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="6">6</option>
                    <option [ngValue]="7">7</option>
                    <option [ngValue]="8">8</option>
                    <option [ngValue]="9">9</option>
                    <option [ngValue]="10">10</option>
                  </select>
                </div>
              </div>

            </div>

            <div class="sm:grid grid-cols-1 gap-2">
              <div class="relative mt-8">
                <div>
                  <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                    Indica en cuál(es) área(s) de Vida Universitaria has participado
                  </label>
                </div>
                <div class="sm:grid grid-cols-3 gap-2">
                  <div *ngFor="let area of listaAreasUniversidad">

                    <label style="font-size:15px;  font-weight: bold; ">
                      <input type="checkbox" id="{{area.id}}" (change)="toggleAreasVidaUniversitariaParticipado($event.target.checked, area.id)" [checked]="idsPasados.indexOf(area.id) >=0">
                      {{area.areaVidaUniversitaria}}
                    </label>

                  </div>
                </div>
              </div>

              <div class="relative mt-8">
                <div>
                  <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                    ¿Actualmente formas parte de alguna área de Vida Universitaria?
                  </label>
                </div>
                <div class="sm:grid grid-cols-3 gap-2">
                  <div *ngFor="let area of listaAreasUniversidad">

                    <label style="font-size:15px;  font-weight: bold; ">
                      <input type="checkbox" id="{{area.id}}" (change)="toggleAreasVidaUniversitariaActuales($event.target.checked, area.id)" [checked]="idsActuales.indexOf(area.id) >=0">
                      {{area.areaVidaUniversitaria}}
                    </label>

                  </div>
                </div>
              </div>

            </div>
          </div>

          <br>

        </div>

      </div>
    </div>
    <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
      <h2 class="text-lg font-medium mr-auto">
        <!--Completar informacion-->
      </h2>
      <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
        <!--<a routerLink="/alumnos" class="button text-black bg-theme-2 shadow-md mr-2">Cancelar</a>-->
        <button type="submit" class="button text-white bg-theme-1 shadow-md mr-2" style="background-color:#FF8800;">Guardar</button>
      </div>
    </div>
  </form>
  <!-- END: FORM -->
</div>
<!-- END: Content -->
