
<app-menu></app-menu>

<!-- BEGIN: Content -->

<div class="content">
    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 xxl:col-span-12 grid grid-cols-12 gap-12">
            <!-- BEGIN: General Report -->
          <div class="col-span-12 mt-8">
            <div class="intro-y flex items-center h-10">
              <h2 class="text-lg font-medium truncate mr-5">
                Reporte General
              </h2>
              <button class="ml-auto flex text-theme-1 dark:text-theme-10" (click)="ngOnInit()"> <i data-feather="refresh-ccw" class="w-4 h-4 mr-3"></i>  Recargar </button>
            </div>
            <div class="grid grid-cols-12 gap-6 mt-5">


              <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
                <div class="report-box zoom-in">
                  <div class="box p-5">
                    <div class="flex">
                      <i data-feather="layout" class="report-box__icon text-theme-12"></i>
                      <div class="ml-auto">
                        <!-- <div class="report-box__indicator bg-theme-9 tooltip cursor-pointer" title="12% Higher than last month">  {{ ((proyectosactivos.length * 100 )/proyectos.length).toFixed(2)}} % <i data-feather="chevron-up" class="w-4 h-4"></i> </div> -->
                      </div>
                    </div>
                    <div class="text-3xl font-bold leading-8 mt-6"> </div>
                    <div class="text-base text-gray-600 mt-1">Proyectos Activos</div>
                  </div>
                </div>
              </div>
              <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
                <div class="report-box zoom-in">
                  <div class="box p-5">
                    <div class="flex">
                      <i data-feather="layout" class="report-box__icon text-theme-9"></i>
                      <div class="ml-auto">
                        <!-- <div class="report-box__indicator bg-theme-6 tooltip cursor-pointer" title="22% Higher than last month">  {{ ((proyectosrechazados.length * 100 )/proyectos.length).toFixed(2)}} % <i data-feather="chevron-down" class="w-4 h-4"></i> </div> -->
                      </div>
                    </div>
                    <div class="text-3xl font-bold leading-8 mt-6"></div>
                    <div class="text-base text-gray-600 mt-1">Proyectos Pendientes</div>
                  </div>
                </div>
              </div>
            </div>


            <!-- BEGIN: Convocatorias Abiertas -->
            <div class="col-span-12 mt-6">
              <div class="intro-y block sm:flex items-center h-10">
                <h2 class="text-lg font-medium truncate mr-5">
                  Convocatorias
                </h2>

              </div>
              <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
                <table class="table table-report sm:mt-2">
                  <thead>
                    <tr>

                      <th class="whitespace-no-wrap">CONVOCATORIAS ALUMNOS</th>
                      <th class="text-center whitespace-no-wrap">INICIA</th>
                      <th class="text-center whitespace-no-wrap">TERMINA</th>
                      <th class="text-center whitespace-no-wrap">STATUS</th>
                      <th class="text-center whitespace-no-wrap">ACCIÓN</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let convocatoria of convocatoriasalumnosf">
                    <tr class="intro-x" *ngIf="convocatoria.activo==true || (convocatoria.fechaTermino) <  (d)">
                      <td>
                        <a class="font-medium whitespace-no-wrap">{{  convocatoria.convocatoria}} </a>
                        <div class="text-gray-600 text-xs whitespace-no-wrap">Descripción {{convocatoria.descripcion}}</div>
                      </td>
                      <td class="W-56">
                        <div class="flex items-center justify-center text-theme-6">
                          {{convocatoria.fechaInicio.substr(0,10) }}
                        </div>
                      </td>
                      <td class="W-56">
                        <div class="flex items-center justify-center text-theme-6">
                          {{convocatoria.fechaTermino.substr(0,10)}}
                        </div>
                      </td>
                      <td class="w-40">

                        <div class="py-1 px-2 rounded-full text-center text-xs bg-theme-9 text-white cursor-pointer font-medium" *ngIf="convocatoria.activo==true">ACTIVA</div>
                        <div class="py-1 px-2 rounded-full text-center text-xs bg-theme-6 text-white cursor-pointer font-medium" *ngIf="convocatoria.activo==false">DESACTIVA</div>

                      </td>
                      <td class="table-report__action w-56">
                        <div class="flex justify-center items-center">
                          <a class="flex items-center mr-3" [routerLink]="['/proyectos/' ]"> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Ver Proyectos </a>

                        </div>
                      </td>

                    </tr>



                  </tbody>
                </table>
              </div>

            </div>
            <!-- END: Convocatorias Abiertas -->
            <!-- BEGIN: Weekly Top Products -->
            <div *ngIf="idproyecto != undefined; else elseBlock" class="col-span-12 mt-6">
              <div class="intro-y block sm:flex items-center h-10">
                <h2 class="text-lg font-medium truncate mr-5">
                  Proyectos
                </h2>

              </div>
              <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
                <table class="table table-report sm:mt-2">
                  <thead>
                    <tr>

                      <th class="whitespace-no-wrap">PROYECTO</th>
                      <th class="text-center whitespace-no-wrap">STATUS</th>
                      <th class="text-center whitespace-no-wrap">ACCIÓN</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="intro-x">
                      <td>
                        <a class="font-medium whitespace-no-wrap"> {{proyecto}}</a>
                      </td>

                      <td class="w-40">
                        <div class="py-1 px-2 rounded-full text-center text-xs bg-theme-12 text-white cursor-pointer font-medium">REGISTRADO</div>

                      </td>
                      <td class="table-report__action w-56">
                        <div class="flex justify-center items-center">
                          <a class="flex items-center mr-3" [routerLink]="['/proyectos/ver', idproyecto  ]"> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Ver </a>

                        </div>
                      </td>
                    </tr>




                  </tbody>
                </table>
              </div>

            </div>
            <ng-template #elseBlock><div class="text-base font-bold leading-8 mt-6"></div></ng-template>

            <!-- END: Weekly Top Products -->

          </div>
            <!-- END: General Report -->


           
              
            

           
        </div>



        
    </div>
</div>

<!-- END: Content -->

