
<app-menu></app-menu>

<!-- BEGIN: Content -->

<div class=" mt-16" style="font-family:Helvetica;">
  <div class="cargador" id="carg" style="display: block;"></div>

  <div class="modal" id="entrevista" style=" display: block; ">
    <div class="modal__content modal__content--xl p-10 text-center">
      <a data-dismiss="modal" href="javascript:;" class="absolute right-0 top-0 mt-3 mr-3"> <i data-feather="x" class="w-8 h-8 text-gray-500"></i> </a>

      <div class="text-3xl mt-5 text-center" style="color: #FF8300; font-size: 28px;">Entrevista</div>
      <div class=" mt-2 text-red text-center" style="color: #6B3F23; font-size: 25px;">¡Contacta al Responsable de Servicio Social!</div>

      <div class=" mt-1 " style="font-size: 20px;">
        Manda un mail al responsable de servicio social de la institución avisándole que has aplicado al proyecto y que quieres tener una entrevista. El contacto viene en la parte inferior del perfil del proyecto.
      </div>
      <br>
      <div class="flex justify-center text-center items-center mt-3 text-center" style="background: #FF8300; border-radius: 15px;font-weight: bold; width: 180px; margin: auto;
        "> <br> <a data-dismiss="modal" style=" border-radius: 15px; font-size: 17px; cursor:pointer;" class="button  btn-lg text-white  ">Continuar</a> </div>
    </div>
  </div>
  <div class="modal" id="warning-modal-preview" style=" display: block; ">
    <div class="modal__content modal__content--xl p-10 text-center">
      <a data-dismiss="modal" href="javascript:;" class="absolute right-0 top-0 mt-3 mr-3"> <i data-feather="x" class="w-8 h-8 text-gray-500"></i> </a>

      <div class="text-3xl mt-5 text-center" style="color: #FF8300; font-size: 28px;">Proyectos</div>
      <div class=" mt-8 text-red text-center" style="color: #6B3F23; font-size: 25px;">¡Busca proyectos!</div>


      <div class="mt-8" style="font-size: 20px;">
        En esta sección podrás ver las convocatorias activas para buscar e inscribirte a los proyectos registrados que sean de tu interés para la prestación de tu servicio social.
      </div>
      <br>
      <div class="flex justify-center text-center items-center mt-8 text-center" style="background: #FF8300; border-radius: 15px;font-weight: bold; width: 180px; margin: auto;
        "> <br> <a data-dismiss="modal" style=" border-radius: 15px; font-size: 17px; cursor:pointer;" class="button  btn-lg text-white  ">Continuar</a> </div>
    </div>
  </div>

  <div class="grid grid-cols-12 gap-6">
    <div class="col-span-12 xxl:col-span-12 grid grid-cols-12 gap-12">
      <!-- BEGIN: General Report -->
      <div class="col-span-12 mt-10">
        <!-- <div class="intro-y flex items-center h-10">
          <h2 class="text-lg font-medium truncate mr-5">
            Reporte General
          </h2>
          <button class="ml-auto flex text-theme-1 dark:text-theme-10" (click)="ngOnInit()"> <i data-feather="refresh-ccw" class="w-4 h-4 mr-3"></i>  Recargar </button>
        </div> -->
        <!-- <div class="grid grid-cols-12 gap-6 mt-5"  >


                           <div  class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
                               <div class="report-box zoom-in">
                                   <div class="box p-5">
                                       <div class="flex">
                                           <i data-feather="layout" class="report-box__icon text-theme-12"></i>
                                           <div class="ml-auto">
                                           </div>
                                       </div>
                                       <div class="text-3xl font-bold leading-8 mt-6"> </div>
                                       <div class="text-base text-gray-600 mt-1">Proyectos Activos</div>
                                   </div>
                               </div>
                           </div>
                           <div  class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
                               <div class="report-box zoom-in">
                                   <div class="box p-5">
                                       <div class="flex">
                                           <i data-feather="layout" class="report-box__icon text-theme-9"></i>
                                           <div class="ml-auto">
                                           </div>
                                       </div>
                                       <div class="text-3xl font-bold leading-8 mt-6"></div>
                                       <div class="text-base text-gray-600 mt-1">Proyectos Pendientes</div>
                                   </div>
                               </div>
                           </div>
                       </div>
        -->
        <!-- BEGIN: Convocatorias Abiertas -->
        <div class="col-span-12 mt-6" id="convocatorii" style="display: none;">

          <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5" style="font-size:25px;  font-weight: bold; ">
            <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; ">
              Convocatorias
            </h2>
          </div>
          <div class="intro-y overflow-auto lg:overflow-visible mt-5 sm:mt-0" *ngIf="project ==null && convocatoriasalumnosf.length>0; else elseBlock">
            <table class="table table-report sm:mt-2">

              <thead>

              </thead>
              <tbody *ngFor="let convocatoria of convocatoriasalumnosf">
                <tr class="intro-x w-5 font-weight-bold" style="background: rgb(250, 250, 250);">
                  <td style="background: rgb(250, 250, 250); font-size:17px;  font-weight: bold; ">
                    <a class="font-medium whitespace-no-wrap">{{  convocatoria.convocatoria}} </a>
                  </td>
                  <th class="W-56 " style="background: rgb(250, 250, 250);">
                    <div class="flex items-center justify-center text-theme-6 mt-3" style="font-size:17px;">
                      <div class="text-center" style="color: #E60505; ">
                        <div style="font-size: 18px; color: black;  font-weight: bold;">Inicia</div>
                        <br>                      {{convocatoria.fechaInicioString}}

                      </div>
                    </div>
                  </th>
                  <th class="W-56 " style="background: rgb(250, 250, 250);">
                    <div class="flex items-center justify-center text-theme-6 mt-3" style="font-size:17px;">
                      <div class="text-center" style="color: #E60505; ">
                        <div style="font-size: 18px; color: black;  font-weight: bold;">Termina</div>
                        <br>                       {{convocatoria.fechaTerminoString}}

                      </div>
                    </div>

                  </th>
                  <th class="w-40 " style="background: rgb(250, 250, 250);">
                    <div class="text-center">
                      <div style="font-size: 18px; color: black;  font-weight: bold;">Estatus</div>
                      <div class="py-1 px-2 rounded-full text-center  bg-theme-9 text-white  mt-3" style=" border-radius: 15px;font-weight: bold;;" *ngIf="convocatoria.activo==true " style="font-size:17px;">Activa</div>
                      <div class="py-1 px-2 rounded-full text-center  bg-theme-6 text-white   mt-3 " style="background: #E60505; border-radius: 15px;font-weight: bold;" *ngIf="convocatoria.activo==false " style="font-size:17px;">Desactiva</div>
                    </div>
                  </th>


                  <td class="table-report__action w-56" style="background: rgb(250, 250, 250);">
                    <div class="flex justify-center items-center">
                      <!-- <a class="flex items-center mr-3 button bg-theme-10 text-white" href="https://adam.anahuac.mx/serviciosocial/buscar.html"> -->
                      <a style="border-radius: 15px;font-weight: bold;background: #FF8300;" class="flex items-center mr-3 button text-white text-center" href="https://portal-ss.gesdesapplication.com/buscar.html">
                        Buscar Proyectos
                      </a>

                    </div>
                  </td>

                </tr>

              </tbody>
            </table>
          </div>
          <ng-template #elseBlock>

            <div class=" text-center font-italic leading-8 mt-6" style="font-style: italic; text-align:center; font-size:25px; color: rgb(226, 226, 226);">
              No hay convocatorias activas
            </div>
            <!-- END: Convocatorias Abiertas -->

          </ng-template>
        </div>
        <!-- END: Convocatorias Abiertas -->
        <!-- BEGIN: Weekly Top Products -->
        <div class="col-span-12 mt-6">
          <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5" style="font-size:25px;  font-weight: bold; ">
            <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; ">
              Mis Aplicaciones
            </h2>
          </div>
          <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0" *ngIf="projectArray !=null && projectArray.length>0; else elseBlockP">
            <table class="table table-report sm:mt-2">

              <tbody>
                <tr class="intro-x" *ngFor="let proyecto of projectArray">
                  <td style="background: rgb(250, 250, 250); font-size:17px;  font-weight: bold; ">
                    <a class="font-medium whitespace-no-wrap"> {{proyecto.proyectoNombre}}</a>
                  </td>

                  <td class="w-40" style="background: rgb(250, 250, 250);">
                    <!--1 preregistro,2 Aprobado por empresa, 3 Inscrito,4	Terminado,5	Cancelado,6	Rechazado-->
                    <div style="font-size: 18px; color: black;  font-weight: bold;" align="center">Estatus</div>

                    <div *ngIf="proyecto.idEstado==1" class="py-1 px-2 rounded-full text-center  bg-theme-6 text-white  mt-3" style=" border-radius: 15px;font-weight: bold;">
                      <div class="tooltip top">
                        {{proyecto.estado}}
                        <span class="tiptext text-left">
                          Estatus del proyecto:<a style="font-size: 20px; "> PRE REGISTRO</a>
                          <br><br>
                          Has aplicado a este proyecto. Ponte en contacto vía mail con el responsable de servicio social de la institución para que puedas tener una entrevista.
                          <br><br>
                          El correo lo encuentras en el perfil del proyecto.
                        </span>
                      </div>
                    </div>
                    <div *ngIf="proyecto.idEstado==2" class="py-1 px-2 rounded-full text-center  bg-theme-12 text-white  mt-3" style=" border-radius: 15px;font-weight: bold;">
                      <div class="tooltip top">
                        {{proyecto.estado}}
                        <span class="tiptext text-left">
                          Estatus del proyecto:<a style="font-size: 20px; "> ENTREVISTADO</a>
                          <br><br>
                          Te ha entrevistado el responsable del servicio social de la Institución para el proyecto.
                          <br><br>
                          Ahora debes esperar a que la institución acepte tu aplicación. En caso contrario, este proyecto pasará a un estatus de "No Aprobado".
                        </span>
                      </div>
                    </div>
                    <div *ngIf="proyecto.idEstado==3" class="py-1 px-2 rounded-full text-center  bg-theme-10 text-white  mt-3" style=" border-radius: 15px;font-weight: bold;">
                      <div class="tooltip top">
                        {{proyecto.estado}}
                        <span class="tiptext text-left">
                          Estatus del proyecto:<a style="font-size: 20px; "> APROBADO</a>
                          <br><br>
                          La Institución ha aprobado tu aplicación al proyecto.
                          <br><br>
                          Ahora procede a concluir tu proceso para confirmar tu Inscripción en este proyecto.
                        </span>
                      </div>
                    </div>
                    <div *ngIf="proyecto.idEstado==4" class="py-1 px-2 rounded-full text-center  bg-theme-9 text-white  mt-3" style=" border-radius: 15px;font-weight: bold;">{{proyecto.estado}}</div>
                    <div *ngIf="proyecto.idEstado==5" class="py-1 px-2 rounded-full text-center  bg-theme-9 text-white  mt-3" style=" border-radius: 15px;font-weight: bold;">{{proyecto.estado}}</div>
                    <div *ngIf="proyecto.idEstado==6" class="py-1 px-2 rounded-full text-center  bg-theme-8 text-white  mt-3" style=" border-radius: 15px;font-weight: bold;">{{proyecto.estado}}</div>
                    <div *ngIf="proyecto.idEstado==7" class="py-1 px-2 rounded-full text-center  bg-theme-6 text-white  mt-3" style=" border-radius: 15px;font-weight: bold;">{{proyecto.estado}}</div>
                  </td>
                  <td class="table-report__action w-56" style="background: rgb(250, 250, 250);">
                    <div class="flex justify-center items-center" *ngIf="proyecto.idEstado!=3 && proyecto.idEstado!=7 && proyecto.idEstado!=6 ">
                      <a class="flex items-center mr-3 button text-white" style="background: #FF8300;border-radius: 15px;font-weight: bold;  " [routerLink]="['/proyectos/ver', proyecto.idProyecto  ]">  Ver Proyecto</a>
                    </div>
                    <div class="flex justify-center items-center" *ngIf="proyecto.idEstado==3 ">
                      <a class="flex items-center mr-3 button text-white" style="background: #FF8300;border-radius: 15px;font-weight: bold;" [routerLink]="['/proyectos/ver', proyecto.idProyecto  ]"> Confirmar inscripción</a>
                    </div>
                  </td>
                </tr>




              </tbody>
            </table>
          </div>
          <ng-template #elseBlockP>

            <div class=" text-center font-italic leading-8 mt-6" style="font-style: italic; text-align:center; font-size:25px; color: rgb(226, 226, 226);">
              No has aplicado a ningún proyecto
            </div>
          </ng-template>

        </div>
        <!-- END: Weekly Top Products -->

        <br>
        
      </div>

      <!-- END: General Report -->
    </div>

  </div>
</div>
<!-- END: Content -->
